<h1 style="text-align: center;">Reddit-Clone</h1> 
<nav class='row' >
    <div class="col-sm-9">
        <a href='/' class='navbar-item'>Home</a>
    </div>
    
    <div class="col-sm-3">
        <div class='field is-grouped'>
            {% if user.is_authenticated %}
            <span>{{ request.user.username }} | </span>
            <a href='/logout/'><button class='button is-danger'>Logout</button></a>
            {% else %}
            <a href='/signup/' class="add-right"><button class='button is-danger'>Sign Up</button></a>
            <a href='/login/'><button class='button is-black'>Login</button></a>
            {% endif %}
        </div>
    </div>
</nav>
<hr>