<h1>All Posts</h1>

{% for image in images %}

{{ image.name }}

<img src="{{ image.hotel_Main_img.url}}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
</div>
{% endfor %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">Upload</button>
  

<button style="margin-right: 5px;"><a href="/addpost">Add New Post</a></button>
<button><a href="/sorted">Sort by Vote Score</a></button>

{% if posts %}
    {% for post in posts %}
        <h2>Post Title: <a href="/post/{{post.id}}">{{post.title}}</a></h2>
        <br />
        Post URL: {{post.url_post}}
        <br />
        Post Content: {{post.content}}
        <br />
        Vote Score: {{post.votes}}
        <br />
        <button><a href="/post/{{post.id}}/edit">Edit Post</a></button>
        <button><a href="/upvote/{{post.id}}/">Up Vote</a></button>
        <button><a href="/downvote/{{post.id}}/">Down Vote</a></button>
        Created at: {{post.created_at}}
        <br />
        <button style="margin-top: 10px;"><a href="/post/{{post.id}}/delete">Delete Post</a></button>
    {% endfor %}
{% endif %}
    <h1> This is the index and the view is working </h1>

<p> Welcome {{ user.username }} </p>

<a href='/logout'><button>Logout</button></a>
