<button style="margin-right: 5px;"><a href="/">Home</a></button>
<button style="margin-bottom: 15px;"><a href="/addpost">Add Post</a></button>

<br />


<h1>Post Content</h1>

Title: {{post.title}}
<br />
Url: {{post.url_post}}
<br />
Post Content: {{post.content}}
</br>
Created at: {{post.created_at}}
<br />
<img src="{{post.image.url}}" alt="post image" height="80px" width="80px">
{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}
<button style="margin-right: 5px;"><a href="/post/{{post.id}}/edit">Edit Post</a></button>
<button style="margin-top: 10px;"><a href="/post/{{post.id}}/delete">Delete Post</a></button>
{% include 'comments/comments.html' %}


