{% for post in posts %}
<div class="card">

  <div class="card-body">
    <h3>
      <ul>
        <li style="list-style-type: none;">
          <a href="/post/{{post.id}}">{{ post.title }}</a>
        </li>
      </ul>
    </h3>
    <ul>


      <span>
        {% if user.is_authenticated %}
        <button><a href="/upvote/{{post.id}}?next={{ request.path }}"
            style="text-decoration:none; color:green">⇧</a></button>
        {{post.votes}}
        <button><a href="/downvote/{{post.id}}?next={{ request.path }}"
            style="text-decoration:none; color:red">⇩</a></button>
        {% for moderator in moderators %}
        {% if post.author == request.user or request.user == moderator %}
        <button><a href="/post/{{post.id}}/delete/" style="text-decoration: none; color: red">Delete</a></button>
        {% endif %}
        {% endfor %}
        {% else %}
        <button><a href="/upvotes/{{post.id}}?next={{ request.path }}" style="text-decoration:none; color:green">⇧</a></button>
        {{post.votes}}
        <button><a href="/login?next={{ request.path }}" style="text-decoration:none; color:red">⇩</a></button>
        {%endif%}
      </span>
      Submitted on {{post.created_at}} by {{post.author}} from <a
        href="/r/{{post.subreddit}}">r/{{ post.subreddit }}</a>
    </ul>
  </div>
</div>
<p>
{% endfor %}